*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    --hue-neutral: 200;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

body {
    --hue: var(--hue-neutral);
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%)
}

.container {
    display: block;
    height: 250px;
    width: 300px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
    cursor: pointer;
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.start-btn:hover {
    background-color: green;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}


#quiz-header {
    height: 60px;
    width: 100%;
}

#timer {
    height: 50px;
    width: 200px;
    font-size: 18px;
}